/* Container */
.Container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  z-index: 9999;
}

@media (max-width: 768px) {
  .Container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* ContainerLeft */
.ContainerLeft {
  color: white;
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  box-shadow: 5px 5px 6px rgba(255, 255, 255, 1);
  font-size: 20px;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .ContainerLeft {
    width: 100%;
    margin: 10px;
    height: 130px;

  }
}

/* ContainerRight */
.ContainerRight {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  .ContainerRight {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
}

/* ContainerIcons */
.ContainerIcons {
  padding: 10px;
  width: 100%;
  font-size: 24px;
  background: transparent;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .ContainerIcons {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
}

/* ClickableIcon */
.ClickableIcon {
  color: white;
  text-decoration: none;
}

.ClickableIcon:hover {
  color: #cccccc;
}

/* Paragrafo */
.Paragrafo {
  font-size: 20px;
  padding: 10px;
  
}
@media (max-width: 768px) {
  .Paragrafo {
    font-size: 15px;
  }
}


/* ContainerTitulo */
.ContainerTitulo {
  padding: 10px;
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.ClickableIcon1 {
  animation: blink 3s infinite;
}