.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.container-left {
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  box-shadow: 5px 5px 6px rgba(255, 255, 255, 1);
  font-size: 20px;
  margin: 20px; 
}



@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.container-left a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  animation: blink 2s infinite; /* 2s é a duração da animação, você pode ajustar conforme necessário */
}

.container-left a:hover {
  animation-play-state: paused; /* Pausa a animação quando o mouse estiver sobre o link */
}
.container-titulo {
  padding: 10px;
}

.paragrafo {
  font-size: 20px;
  padding: 10px;
}

.container-right {
  color: white;
  display: flex;
  flex-direction: column;
  width: 10%;
}

.container-icons {
  padding: 10px;
  width: 100%;
  font-size: 30px;
  background: transparent;
  color: white;
  border: none;
}

.container-icons a {
  color: white;
  text-decoration: none;
}

.container-icons:hover a {
  color: #cccccc;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column; 
  }
  
  .container-left {
    margin-bottom: 0; /* Removendo espaçamento inferior */
  }

  .container-right{
    color: white;
    display: flex;
    flex-direction: none;
    width: 100%;  
  }
}


