
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.Container{
    display: flex;
    width: 100%;
    height:  100%;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background: black;
}

.Seta{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 0px;

}

.Titulo{
  color: white;
}
.ContainerCard{
  display: flex;
  width: 100%;
  height: 600px;
  flex-direction: column;
  align-items: center;
  margin: 0px;
 
}
.swiper {
  width: 320px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border-radius: 50px;
}


.ContainerCard{
  flex-direction: column;
  align-items: center;
}


.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
}

.slide-content img {
  max-width: 90%; 
  max-height: 100%; 
}

.button-below {
  margin-top: 10px; 
}

.slide-content {
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.button-below {
  color: white; /* Define o texto como branco */
  padding: 10px 20px; /* Adiciona espaço interno ao redor do texto */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Adiciona arredondamento às bordas */
  cursor: pointer; /* Altera o cursor ao passar por cima */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
  transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave */
  text-decoration: none;
}

.button-below:hover {
  text-decoration: none;
  background-color: white; /* Altera a cor de fundo ao passar o mouse */
  color: black; 
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(255, 255, 255);

}

.swiper-slide:nth-child(8n) {
  background-color: rgb(255, 255, 255);

}

.swiper-slide:nth-child(9n) {
  background-color: rgb(255, 255, 255);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(255, 255, 255);
}



* {
  box-sizing: border-box;
}



.fullscreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: -1;
}

.bg {
  background: #101010;
}

.fullscreen.notready {
  color: #606060;
}



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 2s ease 0.5s forwards;
}


